<?xml version="1.0"?>
<launch>

    <!-- custom arguments -->
    <arg name="run_sensors_node" default="true" />
    <arg name="run_wrist_controller_node" default="true" />
    <arg name="run_teleop_node" default="true" />
    <arg name="launch_finger_controllers" default="true" />

    <!-- gazebo arguments  -->
    <arg name="debug" default="false" />
    <arg name="gui" default="true" />
    <arg name="pause" default="false" />
    <arg name="world_name" default="$(find description)/worlds/reflex.world" />

    <!-- include gazebo_ros launcher -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world_name)" />
        <arg name="debug" value="$(arg debug)" />
        <arg name="gui" value="$(arg gui)" />
        <arg name="paused" value="$(arg pause)" />
        <arg name="use_sim_time" value="true" />
        <arg name="physics" value="dart" />
        <arg name="verbose" value="false" />
    </include>

    <node name="reflex_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" args="-urdf -param robot_description -model reflex" />

    <param name="robot_description" command="
        $(find xacro)/xacro '$(find description)/robots/reflex.robot.xacro' only_reflex:=true"/>

    <!-- robot state publisher uses joint values from joint_state_publisher to publish poses of links to /tf2 -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
        <remap from="/joint_states" to="/reflex/joint_states"/>
    </node>

    <node pkg="joint_state_publisher" type="joint_state_publisher" output="screen" name="joint_state_publisher">
        <param name="publish_default_velocities" value="true"/>
        <param name="publish_default_efforts" value="true"/>
        <param name="rate" value="100"/>
        <remap from="/joint_states" to="/reflex/joint_states"/>
    </node>

    <!-- Keyboard teleoperation node -->
    <group if="$(arg run_teleop_node)">
        <node pkg="teleop" type="teleop_node" name="teleop_node" respawn="false" output="screen"/>
    </group>

    <!-- Launch controllers -->
    <group if="$(arg launch_finger_controllers)">
        <include file="$(find finger_controller)/launch/reflex_control.launch" />
    </group>

    <!-- Sensors node -->
    <group if="$(arg run_sensors_node)">
        <node pkg="sensor_listener" type="sensor_listener_node" name="sensor_listener_node" respawn="false"/>
    </group>

    <!-- Wrist controller node -->
    <group if="$(arg run_wrist_controller_node)">
        <node pkg="wrist_controller" type="wrist_controller_node" name="wrist_controller_node" respawn="false"/>
    </group>

</launch>
