<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="box">

    <!-- arguments -->
    <xacro:arg name="box_mass" default="0.2"/>
    <xacro:arg name="box_x" default="0.08"/>
    <xacro:arg name="box_y" default="0.08"/>
    <xacro:arg name="box_z" default="0.08"/>

    <xacro:property name="link_name" value="box_link"/>
    <xacro:include filename="$(find description)/urdf/xacro_macros/inertia_tensors.xacro"/>

    <link name="${link_name}">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <box size="$(arg box_x) $(arg box_y) $(arg box_z)" />
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <box size="$(arg box_x) $(arg box_y) $(arg box_z)" />
            </geometry>
        </collision>
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="$(arg box_mass)"/>
            <xacro:cuboid_inertia m="$(arg box_mass)" x="$(arg box_x)" y="$(arg box_y)" z="$(arg box_z)" />
        </inertial>
    </link>

    <xacro:include filename="$(find description)/urdf/environment/object.gazebo.xacro"/>
</robot>
