<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="cylinder">

    <!-- arguments -->
    <xacro:arg name="cylinder_mass" default="0.5"/>
    <xacro:arg name="cylinder_radius" default="0.04"/>
    <xacro:arg name="cylinder_length" default="0.15"/>

    <xacro:property name="link_name" value="cylinder_link"/>

    <xacro:include filename="$(find description)/urdf/xacro_macros/inertia_tensors.xacro"/>

    <link name="${link_name}">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <cylinder radius="$(arg cylinder_radius)" length="$(arg cylinder_length)"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <cylinder radius="$(arg cylinder_radius)" length="$(arg cylinder_length)"/>
            </geometry>
        </collision>
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="$(arg cylinder_mass)"/>
            <xacro:cylinder_inertia m="$(arg cylinder_mass)" r="$(arg cylinder_radius)" h="$(arg cylinder_length)"/>
        </inertial>
    </link>

    <xacro:include filename="$(find description)/urdf/environment/object.gazebo.xacro"/>
</robot>
