<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="sphere">

    <!-- arguments -->
    <xacro:arg name="sphere_mass" default="0.2"/>
    <xacro:arg name="sphere_radius" default="0.08"/>

    <xacro:property name="link_name" value="sphere_link"/>

    <xacro:include filename="$(find description)/urdf/xacro_macros/inertia_tensors.xacro"/>

    <link name="${link_name}">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <sphere radius="$(arg sphere_radius)" />
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <sphere radius="$(arg sphere_radius)" />
            </geometry>
        </collision>
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="$(arg sphere_mass)"/>
            <xacro:sphere_inertia m="$(arg sphere_mass)" r="$(arg sphere_radius)" />
        </inertial>
    </link>

    <xacro:include filename="$(find description)/urdf/environment/object.gazebo.xacro"/>
</robot>
