<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find controllers)/config/reflex_control.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="gazebo" 
    args="joint_state_controller 
    preshape_j1_effort_controller 
    preshape_j2_effort_controller 
    proximal_j1_effort_controller 
    proximal_j2_effort_controller 
    proximal_j3_effort_controller"/>
  
  <!-- launch custom reflex controller for open/close services-->
  <node pkg="controllers" type="finger_control_node" name="reflex_actuation" respawn="true"/>

</launch>