<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find controllers)/config/reflex_control.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="gazebo" 
    args="joint_state_controller 
    preshape_j1_position_controller 
    preshape_j2_position_controller 
    proximal_j1_position_controller 
    proximal_j2_position_controller 
    proximal_j3_position_controller
    finger_1_proximal_to_flex_position_controller
    finger_2_proximal_to_flex_position_controller
    finger_3_proximal_to_flex_position_controller
    finger_1_flex_to_distal_position_controller
    finger_2_flex_to_distal_position_controller
    finger_3_flex_to_distal_position_controller
    "/>

  <!-- launch custom reflex controller for open/close services-->
  <node pkg="controllers" type="finger_control_node" name="reflex_actuation" respawn="true"/>

</launch>