<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find controllers)/config/reflex_control.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="gazebo" 
    args="joint_state_controller 
    finger_1_preshape_position_controller 
    finger_2_preshape_position_controller 
    finger_1_proximal_position_controller 
    finger_2_proximal_position_controller 
    finger_3_proximal_position_controller
    finger_1_proximal_to_flex_position_controller
    finger_2_proximal_to_flex_position_controller
    finger_3_proximal_to_flex_position_controller
    finger_1_flex_to_distal_position_controller
    finger_2_flex_to_distal_position_controller
    finger_3_flex_to_distal_position_controller
    "/>

  <!-- launch finger controllers -->
  <node pkg="controllers" type="finger_control_node" name="finger_control_node" respawn="true" output="screen"/>

</launch>