<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="box">

    <!-- arguments -->
    <xacro:arg name="box_mass" default="0.2"/>
    <xacro:arg name="box_inertia" default="0.0006"/>
    <xacro:arg name="box_x" default="0.08"/>
    <xacro:arg name="box_y" default="0.08"/>
    <xacro:arg name="box_z" default="0.08"/>

    <xacro:property name="link_name" value="box_link"/>

    <link name="${link_name}">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <box size="$(arg box_x) $(arg box_y) $(arg box_z)" />
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <box size="$(arg box_x) $(arg box_y) $(arg box_z)" />
            </geometry>
        </collision>
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="$(arg box_mass)"/>
            <inertia ixx="$(arg box_inertia)" ixy="0" ixz="0" iyy="$(arg box_inertia)" iyz="0" izz="$(arg box_inertia)" />
        </inertial>
    </link>

    <gazebo reference="${link_name}">
        <material>Gazebo/Green</material>
    </gazebo>
</robot>
