<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:property name="sensor_name" value="gazebo/object_sensor"/>

    <!-- sets gazebo sensor plugin to publish object contacts and gazebo colour -->
    <gazebo reference="${link_name}">
      <sensor name="${sensor_name}" type="contact">
        <alwaysOn>true</alwaysOn>
        <update_rate>50</update_rate>
        <plugin name="${sensor_name}_plugin" filename="libgazebo_ros_bumper.so">
          <bumperTopicName>${sensor_name}_bumper</bumperTopicName>
          <frameName>${link_name}</frameName>
        </plugin>
        <contact>
          <collision>${link_name}_collision</collision>
        </contact>
      </sensor>
      <material>Gazebo/Green</material>
    </gazebo>
</robot>

