<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="reflex_tactile_sensor_rate" default="50"/>

  <!-- ============================== Transmissions ============================== -->

  <xacro:include filename="$(find description)/urdf/reflex/reflex.transmission.xacro"/>

  <!-- ================================ Materials ================================ -->

  <xacro:macro name="color_swivel" params="finger_id">
    <gazebo reference="swivel_${finger_id}">
      <material>Gazebo/Black</material>
    </gazebo>
  </xacro:macro>

  <xacro:macro name="color_distal" params="finger_id">
    <gazebo reference="distal_${finger_id}">
      <material>Gazebo/FlatBlack</material>
    </gazebo>
  </xacro:macro>

  <xacro:macro name="color_proximal" params="finger_id">
    <gazebo reference="proximal_${finger_id}">
      <material>Gazebo/FlatBlack</material>
    </gazebo>
  </xacro:macro>

  <xacro:macro name="color_distal_pad" params="finger_id">
    <gazebo reference="distal_${finger_id}_pad">
      <material>Gazebo/FlatBlack</material>
    </gazebo>
  </xacro:macro>

  <xacro:macro name="color_proximal_pad" params="finger_id">
    <gazebo reference="proximal_${finger_id}_pad">
      <material>Gazebo/FlatBlack</material>
    </gazebo>
  </xacro:macro>

  <xacro:macro name="color_flex" params="finger_id">
    <gazebo reference="finger_${finger_id}_flex_link">
      <material>Gazebo/YellowTransparent</material>
    </gazebo>
  </xacro:macro>

  <gazebo reference="shell">
    <material>Gazebo/Black</material>
  </gazebo>

  <gazebo reference="pad">
    <material>Gazebo/FlatBlack</material>
  </gazebo>

  <!-- ========================== Contact Sensors =========================== -->

  <!-- adds sensor plugin to sensor links -->
  <xacro:macro name="tactile_sensor" params="location finger_id sensor_id">

    <xacro:property name="link_name" value="${location}_${finger_id}_sensor_${sensor_id}"/>
    <xacro:property name="sensor_name" value="gazebo/${link_name}"/>

    <gazebo reference="${link_name}">
      <sensor name="${sensor_name}" type="contact">
        <alwaysOn>true</alwaysOn>
        <update_rate>$(arg reflex_tactile_sensor_rate)</update_rate>
        <plugin name="${sensor_name}_plugin" filename="libgazebo_ros_bumper.so">
          <bumperTopicName>${sensor_name}_bumper</bumperTopicName>
          <frameName>${link_name}</frameName>
        </plugin>
        <contact>
          <collision>${link_name}_collision</collision>
        </contact>
      </sensor>
      <material>Gazebo/GreenTransparent</material>
    </gazebo>

  </xacro:macro>

  <!-- adds sensor plugin to proximal and distal links -->
  <xacro:macro name="link_sensor" params="location finger_id">

    <xacro:property name="link_name" value="${location}_${finger_id}_pad"/>
    <xacro:property name="sensor_name" value="gazebo/${link_name}_sensor"/>

    <gazebo reference="${link_name}">
      <sensor name="${sensor_name}" type="contact">
        <alwaysOn>true</alwaysOn>
        <update_rate>$(arg reflex_tactile_sensor_rate)</update_rate>
        <plugin name="${sensor_name}_plugin" filename="libgazebo_ros_bumper.so">
          <bumperTopicName>${sensor_name}_bumper</bumperTopicName>
          <frameName>${link_name}</frameName>
        </plugin>
        <contact>
          <collision>${link_name}_collision</collision>
        </contact>
      </sensor>
    </gazebo>

  </xacro:macro>

  <xacro:macro name="preserve_fixed" params="location finger_id sensor_id">
    <gazebo reference="${location}_${finger_id}_to_sensor_${sensor_id}">
      <preserveFixedJoint>true</preserveFixedJoint>
    </gazebo>
  </xacro:macro>

  <!-- this makes sure that link stays seperate from parent link. by default
       Gazebo merges links with fixed joints together to one link, but here 
       we need it to be separate to latch on the libgazebo_ros_bumper plugin -->
  <xacro:macro name="preserve_fixed_pad" params="location finger_id">
    <gazebo reference="${location}_${finger_id}_to_pad">
      <preserveFixedJoint>true</preserveFixedJoint>
    </gazebo>
  </xacro:macro>

  <xacro:macro name="gazebo_finger" params="id">
    <xacro:color_swivel finger_id="${id}"/>
    <xacro:color_distal finger_id="${id}"/>
    <xacro:color_proximal finger_id="${id}"/>
    <xacro:color_distal_pad finger_id="${id}"/>
    <xacro:color_proximal_pad finger_id="${id}"/>
    <xacro:color_flex finger_id="${id}"/>

    <xacro:tactile_sensor location="proximal" finger_id="${id}" sensor_id="1"/>
    <xacro:tactile_sensor location="proximal" finger_id="${id}" sensor_id="2"/>
    <xacro:tactile_sensor location="proximal" finger_id="${id}" sensor_id="3"/>
    <xacro:tactile_sensor location="proximal" finger_id="${id}" sensor_id="4"/>
    <xacro:tactile_sensor location="proximal" finger_id="${id}" sensor_id="5"/>
    <xacro:tactile_sensor location="distal" finger_id="${id}" sensor_id="1"/>
    <xacro:tactile_sensor location="distal" finger_id="${id}" sensor_id="2"/>
    <xacro:tactile_sensor location="distal" finger_id="${id}" sensor_id="3"/>
    <xacro:tactile_sensor location="distal" finger_id="${id}" sensor_id="4"/>

    <xacro:link_sensor location="proximal" finger_id="${id}"/>
    <xacro:link_sensor location="distal" finger_id="${id}"/>

    <xacro:preserve_fixed location="proximal" finger_id="${id}" sensor_id="1"/>
    <xacro:preserve_fixed location="proximal" finger_id="${id}" sensor_id="2"/>
    <xacro:preserve_fixed location="proximal" finger_id="${id}" sensor_id="3"/>
    <xacro:preserve_fixed location="proximal" finger_id="${id}" sensor_id="4"/>
    <xacro:preserve_fixed location="proximal" finger_id="${id}" sensor_id="5"/>
    <xacro:preserve_fixed location="distal" finger_id="${id}" sensor_id="1"/>
    <xacro:preserve_fixed location="distal" finger_id="${id}" sensor_id="2"/>
    <xacro:preserve_fixed location="distal" finger_id="${id}" sensor_id="3"/>
    <xacro:preserve_fixed location="distal" finger_id="${id}" sensor_id="4"/>

    <xacro:preserve_fixed_pad location="proximal" finger_id="${id}"/>
    <xacro:preserve_fixed_pad location="distal" finger_id="${id}"/>
  </xacro:macro>

  <xacro:gazebo_finger id="1"/>
  <xacro:gazebo_finger id="2"/>
  <xacro:gazebo_finger id="3"/>

</robot>
