<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find finger_controller)/config/lbr4_control.yaml" command="load"/>
  <rosparam file="$(find finger_controller)/config/reflex_control.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="gazebo" 
    args="joint_state_controller 
    finger_1_preshape_position_controller 
    finger_2_preshape_position_controller 
    finger_1_proximal_position_controller 
    finger_2_proximal_position_controller 
    finger_3_proximal_position_controller 
    lbr4_j0_position_controller 
    lbr4_j1_position_controller 
    lbr4_j2_position_controller 
    lbr4_j3_position_controller 
    lbr4_j4_position_controller 
    lbr4_j5_position_controller 
    lbr4_j6_position_controller"/>
  
  <!-- launch custom reflex controller for open/close services-->
  <node pkg="finger_controller" type="finger_controller_node" name="reflex_actuation" respawn="true"/>

</launch>