<launch>
  <arg name="spawn_delay" default="0" />

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find finger_controller)/config/reflex_control.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="gazebo" args="joint_state_controller 
    finger_1_preshape_position_controller 
    finger_2_preshape_position_controller 
    finger_1_proximal_position_controller 
    finger_2_proximal_position_controller 
    finger_3_proximal_position_controller
    finger_1_proximal_to_flex_position_controller
    finger_2_proximal_to_flex_position_controller
    finger_3_proximal_to_flex_position_controller
    finger_1_flex_to_distal_position_controller
    finger_2_flex_to_distal_position_controller
    finger_3_flex_to_distal_position_controller
    " launch-prefix="bash -c 'sleep $(arg spawn_delay); $0 $@' "/>

  <!-- launch finger finger_controller -->
  <node pkg="finger_controller" type="finger_controller_node" name="finger_controller_node" respawn="true" output="screen" launch-prefix="bash -c 'sleep $(arg spawn_delay); $0 $@' "/>

</launch>